<section class="t modal po7" id="{{parent.id}}-po" style="background-image: url(/images/fpo-po7-background.jpg);">

  <button class="icon icon--close modal__close">x</button>

  <div class="po7__body">
    {{#each questions}}
      <h1 class="po7__title">{{text}}</h1>
    {{/each}}
  </div>

  <button class="icon icon--scroll modal__scroll">scroll down</button>

</section>