<section class="t a2">
  {{#with banner}}
    <article class="hero">
      <div class="hero__main">
        <h1 class="hero__title">{{title}}</h1>
        <h2 class="hero__subtitle">{{subtitle}}</h2>
      </div>
      <img class="hero__media" src="{{image.url}}">
    </article>
  {{/with}}

  <p class="a2__deck">{{body}}</p>

  <ul class="btn-menu btn-menu--single">
    <li><a href="#" class="btn">Who's behind this?</a></li>
  </ul>

  <button class="icon icon--pager t__pager">next page</button>

</section>