<section class="t a4">

  <h1 class="a4__title">{{title}}</h1>

  <img class="a4__graphic" src="{{image}}">

  <ul class="btn-menu">
    {{#each buttons}}
      <li><a href="{{target}}" class="btn">{{title}}</a></li>
    {{/each}}
  </ul>

</section>