<section class="t i1">
  <div class="container">


    <header class="ke-header">
      <h1 class="ke-title">{{edition.title}}</h1>
      <b class="ke-number">{{container.number}}</b>
    </header>
    <h2 class="kc-title">{{container.title}}</h2>
    <p class="i1__deck">{{body}}</p>

  </div>
</section>