<section class="t i1">
  <header class="ke-header">
    <h1 class="ke-title">{{edition.title}}</h1>
    <b class="ke-number">{{edition.number}}</b>
  </header>
  <h2 class="kc-title">{{container.title}}</h2>
  <p class="i1__deck">{{body}}</p>

  <button class="icon icon--pager icon--pager-white t__pager">next page</button>

</section>