<section class="t m3">
  <div class="container">

    <p class="m1__deck">{{body}}</p>
    <ul class="btn-menu">
      {{#each buttons}}
        <li><a class="btn" href="{{target}}">{{title}}</a></li>
      {{/each}}
    </ul>

  </div>
</section>