<section class="t m6">
  <div class="container">

    <ul class="list-menu">
      {{#each links}}
        <li><a href="#{{target}}-po" class="list-menu__link list-menu__link--large">{{text}}</a></li>
      {{/each}}
    </ul>

  </div>
</section>

{{#each links}}
  {{po target.template target .}}
{{/each}}