<main class="site-main js-main" role="main">
  <div id="result" class="well">
    <form id="{{id}}">
      <textarea>{{{content}}}</textarea>
      <button class="btn js-save-file" type="submit">Save File</button>
    </form>
  </div>
</main>
