/**

  @container
--------------------------------------------------------
  _2_layout/_container.scss
--------------------------------------------------------


  Restricts content to the site's max width
  but allows for full color bars for sections.

  Example: Container

  <section class="awesome-section-with-background-color">
    <div class="container">
      <!--your content here-->
    </div>
  </section>

------------------------------------------------------ */

.container {
  @extend %clearfix;
  position: relative;
  margin: 0 auto;
  padding: 0 1rem;
  @media only screen and (min-width: 769px) {
    max-width: 74rem;
    padding: 0 2rem;
  }
}