<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Maize">

    <link rel="stylesheet" href="/css/bootstrap.css">

  </head>

  <body class="js-body">

    <nav>
      <ul>
        {{^user}}
          <li><a href="/login">Login</a></li>
        {{/user}}
        {{#user}}
          <li><a href="/files">Files</a></li>
          <li><a href="/login">Logout</a></li>
        {{/user}}
      </ul>
    </nav>

    <div class="js-container">
      {{{body}}}
    </div>

    <!-- Site's Main Content-->

    <script type='text/javascript' src='/js/vendor.js'></script>
    <script type='text/javascript' src='/js/app.js'></script>

    <script type="text/javascript">
      {{#if user}}
        window.user = {{{user}}};
      {{/if}}
    </script>

  </body>
</html>
