<div class="js-file-index">

</div>

<form>
  <input type="text" name="repoName" placeholder="mylib" value="testForMaize">
  <input type="text" name="filePath" placeholder="json/lib/foo.json" value="bunnies.json">
  <button class="btn js-add-file" type="submit" name="submit">Add File</button>
</form>