{{#if files}}
  <ul class="files">
  {{#each files}}
    <li><a class="file" href="/files/{{_id}}">{{name}}</a><span> </span></li>
  {{/each}}
  </ul>
{{else}}
  <p>No files found for this account!</p>
{{/if}}

<form>
  <input type="text" name="repoName" value="testForMaize">
  <input type="text" name="filePath" placeholder="json/lib/foo.json" value="bunnies.json">
  <button class="btn js-add-file" type="submit" name="submit">Add File</button>
</form>