{{#if user.administrator}}
  {{!-- <a href="#"><p>Add User</p></a> --}}
{{/if}}

<main class="site-main js-main" role="main">
  <div id="result" class="well">
    <form id="{{file.id}}">
      <textarea></textarea>
      <button class="btn js-save-file">Save File</button>
    </form>
  </div>
</main>

