/**

   @site-document
--------------------------------------------------------
  _5_sections/_site-document.scss
--------------------------------------------------------

  Main HTML structure, styles, & font declarations
  Main body structure, styles, & font declarations
------------------------------------------------------ */





/* @HTML
--------------------------------------------------------
  HTML should contain the site's default background color
  and font-size plus any
------------------------------------------------------ */

html {
  // HTML must be at 100% font-size for em-based media queries
  font-size: 100%;
  background: $grey;
  @media only screen and (min-width: 769px) {
    background: white;
  }
}





/* @body
--------------------------------------------------------
  Body should contain the document's default font and
  background color for the content, if that background
  color is different than the html.
------------------------------------------------------ */


body {
  @extend %base-sans;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;color: $dark-grey;
  font-size: 100%;

  // at desk
  @media only screen and (min-width: 769px) {
    padding: .75em;
    max-width: 58rem;
    margin: 0 auto;
    font-size: 125%;
  }
}