/**

   @site-header
--------------------------------------------------------
  _5_sections/_site-header.scss
--------------------------------------------------------

  Site-wide header
------------------------------------------------------ */

.site-header {
  @extend %clearfix;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform .5s ease-in-out;
  -webkit-backface-visibility: visible;
  z-index: 300; // 3rd z level
  background: black;
  &.is-active-nav {
    transform: translate3d(85%, 0, 0);
  }
}

.site-nav__button {
  float: left;
  background-image: url(/images/icon--hamburger.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1rem .8125rem;
  background-color: transparent;
  width: 3.25rem; //42px
  height: 2.625rem; //42px
  border: none;
  font: 0/0 a;
  &.is-active {
    background-color: $dark-grey;
  }
}
.svg .site-nav__button {
  background-image: url(/images/icon--hamburger.svg);
}

.site-nav__title {
  // the title of the knowledge container (kc)
  float: left;
  height: 2.625rem; //42px
  line-height: 2.9;
  @extend %xsmall-serif;
  color: white;
  margin-left: .2em;
}




/* @site-nav
--------------------------------------------------------
  Main Site Navigation
------------------------------------------------------ */

.site-nav {
  @extend %clearfix;
  background: $grey;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  width: 85%;
  overflow: auto;
}

.site-nav__ke-title {
  height: 2.625rem; //42px
  line-height: 2.9;
  @extend %xsmall-serif;
  color: white;
  padding-left: 1em;
  background: black;
}

.site-nav__links {
  display: block;
  background: $grey;
  >li a {
    display: block;
    height: 2.625rem; //42px
    line-height: 3.2;
    @extend %small-sans;
    color: white;
    padding: 0 0 0 1em;
    border-bottom: 1px solid #6e6e70;
    b {
      color: $light-grey;
      margin-left: .5em;
      display: inline-block;
    }
    &.is-active {
      color: white;
      b {
        color: white;
      }
    }
  }
}





/* RWD for site header
--------------------------------------------------------
  At Desk
------------------------------------------------------ */
@media only screen and (min-width: 769px) {

  .site-header {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    transform: translate3d(0, 0, 0) !important; // overrides active
  }

  .site-nav {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: auto;
    z-index: 400;
    background: $darker-blue;
    overflow: hidden;
  }

  .site-nav__button {
    display: none;
  }

  .site-nav__title {
    margin-left: 1.5rem;
    line-height: 2.4;
  }

  .site-nav__ke-title {
    float: left;
    padding-left: 1.5rem;
    background: $darker-blue;
    line-height: 2.5;

  }

  .site-nav__links {
    background: transparent;
    float: right;
    margin-right: 2em;

    > li {
      display: inline-block;
      a {
        display: inline-block;
        border-bottom: none;
        padding: 0 0 0 .25em;
        font-family: "ITCLubalinGraphW01-Md", georgia, serif;
        font-weight: normal;
        color: white;
        opacity: .3;
        line-height: 2.6;
        &.is-active {
          opacity: 1;
        }
        b {
          display: none;
        }
      }
    }
  }
}