/**

  @buttons
--------------------------------------------------------
  _3_elements/_buttons.scss
--------------------------------------------------------

  Buttons are a common UI component in sites/apps.  They
  are usually either anchor, button, or input elements
  with a classname of 'btn'.  They provide an easily
  identified clickable target.

  Buttons commonly have modifying classes that apply
  specific styles.

  Also see _button-groups.scss, a related component
  that arranges buttons into useful groups.

------------------------------------------------------ */



/* @btn
--------------------------------------------------------
  Your primary, go-to button

  Example: Anchor Button
  <a href="#" class="btn" title="sample">Anchor Button</a>

  Example: Button with class .btn
  <button class="btn">Button Button</button>

  Example: Input with class .btn
  <input type="submit" class="btn" value="Input Button">

  Example: Active state, with .active
  <a href="#" class="btn is-active">Active Button</a>

------------------------------------------------------ */

.btn {
  display: block;
  border: 1px solid $light-grey;
  @extend %xsmall-sans-bold;
  padding: .5rem;
  border-radius: .25rem;
  background: white url(/images/angle--right.png) 95% 50% no-repeat;
  &.is-active {
    opacity: .75;
  }
  &:hover,
  &:focus {
    background-color: #FAFAFA;
  }
}
// SVG
.svg .btn {
  background-image: url(/images/angle--right.svg);
}






/* @btn--large
--------------------------------------------------------
  A btn modifier, large

  Example: .btn--large
  <a class="btn btn--large">Large button</a>
------------------------------------------------------ */

.btn--large {
  // Custom code goes below
}





/* @btn--inline
--------------------------------------------------------
  A btn modifier, if this button is in a paragraph or
  in anything else that has a defined font-size, this
  modifier will make the btn inherit the font-size of
  the partent.

  Example: .btn--inline
  <p>Here's some text <a class="btn btn--inline">Cool button</a> text keeps going</p>

------------------------------------------------------ */

.btn--inline {
  font-size: 1em;
}



/* @btn--block
--------------------------------------------------------
  A btn modifier - makes the button display block, 100%
  width and aligns the text to the center.  Removes left
  and right padding since the text is center aligned, it
  is not needed.  Actually sometimes having the padding
  on the left and right causes problems if the centered
  text is quite long - so we just remove it.

  Example: .btn--block
  <a href="#" class="btn btn--block">Block button</a>
------------------------------------------------------ */

.btn--block {
  display: block;
  width: 100%;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}





/* Have something else to add?
--------------------------------------------------------
  + Add any new modifier classes below
------------------------------------------------------ */




