/**

  @menus
--------------------------------------------------------

  Menus

-----------------------------------------------------  */





/* @btn-menu
--------------------------------------------------------
  Button Menu

  Example: Button Menu
  <ul class="btn-menu">
    <li><a class="btn" href="#resiliency-matters">Resiliency matters</a></li>
    <li><a class="btn" href="#efficiency-matters">Efficiency matters</a></li>
    <li><a class="btn" href="#responsiveness-matters">Responsiveness matters</a></li>
  </ul>
------------------------------------------------------ */


.btn-menu {
  position: absolute;
  bottom: 1.25em; // 20px
  left: 1.25em; // 20px
  right: 1.25em; // 20px


  li {
    display: block;

    .btn {
      border-bottom: 0;
      border-radius: 0;
    }

    &:first-child .btn {
      border-radius: .25rem .25rem 0 0;

    }
    &:last-child .btn {
      border-radius: 0 0 .25rem .25rem;
      border-bottom: 1px solid $light-grey;
    }
  }
}

// modifier
.btn-menu--single li .btn {
  border-radius: .25rem !important;
}


// button menus at desktop
@media only screen and (min-width: 769px) {
  .btn-menu {
    display: table;
    width: 100%;
    li {
      display: table-cell;
      .btn {
        padding: 1.5em;
        margin: .5em;
        border-bottom: 1px solid #cdcdcd !important;
        border-radius: .25rem !important;
      }
    }
  }

  .btn-menu--single li {
    width: 66.666%%;
    display: block;
    .btn {
      margin: 0;
    }
  }
}





/* @graphic-menu
--------------------------------------------------------
  Graphic Menu

  <ul class="graphic-menu">
    <li><div class="graphic-menu__graphic"><img src="/images/fpo-graphic-menu.jpg"></div></li>
    <li><a class="graphic-menu__link"><img src="/images/fpo-graphic-menu-icon.jpg"> Cloud-enabled data center</a></li>
    <li><a class="graphic-menu__link"><img src="/images/fpo-graphic-menu-icon.jpg"> Cloud-enabled data center</a></li>
    <li><a class="graphic-menu__link"><img src="/images/fpo-graphic-menu-icon.jpg"> Cloud-enabled data center</a></li>
  </ul>
------------------------------------------------------ */

.graphic-menu {
  display: table;
  width: 100%;
  li {
    display: table-row;
  }
}
.graphic-menu__graphic,
.graphic-menu__link {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 3.85rem;
  border-bottom: 1px solid $light-grey;
}
.graphic-menu__graphic {
  height: 16em;
  text-align: center;
  img {
    width:60%;
  }
}

.graphic-menu__link {
  background: white;
  padding-left: 1.25rem;
  @extend %small-sans-bold;
  img {
    width: 1.5em;
    display: inline-block;
    margin-right: .8em;
  }
  &:hover, &:focus {
    background: #FAFAFA;
  }
}

// graphic menus at desktop
@media only screen and (min-width: 769px) {

  .graphic-menu {
    width: auto;
    display: block;
    overflow: hidden;
    margin: 0 1em;
    li {
      float: left;
      width: 33.33333%;
      padding: .5em;
      &:first-child {
        display: table;
        width: 100%;
      }
    }
  }

  .graphic-menu__graphic {
    width: 100%;
    display: table-cell;
    border: none;
    height: 17.75em;
    img {
      width: 50%;
    }
  }

  .graphic-menu__link {
    display: block;
    float: left;
    padding: .5rem;
    background: white;
    display: block;
    height: 6em;
    text-align: center;
    border-radius: .25em;
    border: 1px solid $light-grey;
    img {
      display: block;
      margin: .5em auto;
    }
  }

}





/* @list-menu
--------------------------------------------------------
  List Menu

  <ul class="list-menu">
    <li><a class="list-menu__link">Talking to a Chief<br>Procurement Officer</a></li>
    <li><a class="list-menu__link">Talking to a Chief<br>Procurement Officer</a></li>
    <li><a class="list-menu__link">Talking to a Chief<br>Procurement Officer</a></li>
    <li><a class="list-menu__link">Talking to a Chief<br>Procurement Officer</a></li>
  </ul>
------------------------------------------------------ */

.list-menu {
  display: table;
  width: 100%;
  border-top: 1px solid $light-grey;
  li {
    display: table-row;
  }
}

.list-menu__link {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 4.5rem;
  border-bottom: 1px solid $light-grey;
  background: white;
  padding-left: 1.25rem;
  @extend %medium-sans-bold;
    &:hover, &:focus {
    background: #FAFAFA;
  }
  // Highlight text
  b {
    @extend %small-serif-light;
  }
}

// large modifier
.list-menu__link--large {
  height: 6.1rem;
}

// with highlight
.list-menu__link--with-highlight {
  @extend %small-sans-bold;
}


@media only screen and (min-width: 769px) {
  .list-menu {
    display: block;
    border: none;
    padding: 0 .5em;
    li {
      display: inline;
      float: left;
      width: 50%;
      padding: 0 .5em 1em .5em;
      .list-menu__link {
        display: block;
        height: 6em;
        padding: 1.5em 2em 0 2em;
        border-radius: .25em;
        border: 1px solid $light-grey;
        &.list-menu__link--with-highlight {
          height: 8.75em;
          padding: 3em 2em 0 2em;
          background: blue;
        }
      }
    }
  }
}






/* @accordian-menu
--------------------------------------------------------
  A List Menu modifier
------------------------------------------------------ */

.accordian-menu {}

.accordian-menu__toggle {
  background: #808285;
  color: white;
  @extend %small-sans-bold;
  height: 3.8rem;
  line-height: 3.5;
  &:hover {
    background: #717273;
  }
  img {
    width: 1.75em;
    margin-right: .5em;
  }
}

.accordian-menu__link {
  height: 3.8rem;
  display: none;
  &.is-active {
    display: table-cell;
  }
}
